.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  
  .formWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .inputWrapper {
    margin-bottom: 15px;
  }
  
  .inputWrapper label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  